<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Granite</div>
                    <img src="~/Images/Tile1.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Magma Gold</div>
                    <img src="~/Images/Tile2.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">White Moon</div>
                    <img src="~/Images/Tile3.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Kalahari</div>
                    <img src="~/Images/Tile4.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Carrara</div>
                    <img src="~/Images/Tile5.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Snow White</div>
                    <img src="~/Images/Tile6.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Titanium</div>
                    <img src="~/Images/Tile7.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Notorious</div>
                    <img src="~/Images/Tile8.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
