@{
    ViewBag.Title = "Home";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Word-Look</div>
                    <img src="~/Images/Wood-Look.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">40/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Travertine</div>
                    <img src="~/Images/Travertine.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">50/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Slate</div>
                    <img src="~/Images/Slate.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">45/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Resin</div>
                    <img src="~/Images/Resin.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">48/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Quartzite</div>
                    <img src="~/Images/Quartzite.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">30/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Quarry</div>
                    <img src="~/Images/Quarry.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">35/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Porcelain</div>
                    <img src="~/Images/Porcelain.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">28/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Onxy</div>
                    <img src="~/Images/Onxy.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">20/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Mosaic</div>
                    <img src="~/Images/Mosaic.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">25/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Metal</div>
                    <img src="~/Images/Metal.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">27/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Marble</div>
                    <img src="~/Images/Marble.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">38/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Lime-Stone</div>
                    <img src="~/Images/Lime-Stone.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">34/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Granite</div>
                    <img src="~/Images/Granite.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">54/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Glass</div>
                    <img src="~/Images/Glass.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">60/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Ceramic</div>
                    <img src="~/Images/Ceramic.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">58/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header text-center">Cement</div>
                    <img src="~/Images/Cement.jpg" class="card-img-top" width="100%" height="200" alt="...">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text text-danger " style="width:8rem;">52/sq.ft</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
